<h1>Weather App!</h1>
<p>Lets show some info!</p>

<br/>

<form action="city_search" method="get" accept-charset="UTF-8" >
  <label for="query">Search for:</label>
  <input id="query" name="query" type="text" />
  <input name="commit" type="submit" value="Search" data-disable-with="Search" />
</form>

<br/>

<%= @data %>

<br/>

<%= @city %>
<%= @weather %>
<%= @description %>

<br/>

<%= @temperature %>
<%= @temp_min %>
<%= @temp_max %>
<%= @pressure %>
<%= @humidity %>

<br/>

<%= @visibility %>
<%= @wind_speed %>
<%= @sunrise %>
<%= @sunset %>
